<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Thông tin thanh toán</h5>
	</div>
</div>
<div class="container full subpage ">
	<div class="section">
		<ul class="subpages collection z-depth-1">
			<li class="collection-img">
				<a class="img-wrap" href="#!">
					<img alt="image" class="responsive-img z-depth-1" src="@Url.Content("~/shop/images/wallet-app.jpg")">
				</a>
			</li>

			<li class="collection-item">
				<a href="@Url.Action("Transactions","Wallet")" class="waves-effect">
					<i class="mdi mdi-wallet "></i>
					<span>Lịch sử giao dịch</span>
					<i class="arrow mdi mdi-chevron-right"></i>
				</a>
			</li>
			<li class="collection-item">
				<a href="@Url.Action("Credit","Wallet")" class="waves-effect">
					<i class="mdi mdi-cash-usd "></i>
					<span>Tiền mặt</span>
					<i class="arrow mdi mdi-chevron-right"></i>
				</a>
			</li>
			<li class="collection-item">
				<a href="@Url.Action("Bank","Wallet")" class="waves-effect">
					<i class="mdi mdi-cash "></i>
					<span>Chuyển khoản</span>
					<i class="arrow mdi mdi-chevron-right"></i>
				</a>
			</li>
			<li class="collection-item">
				<a href="@Url.Action("Payment","Wallet")" class="waves-effect">
					<i class="mdi mdi-credit-card "></i>
					<span>Thẻ tín dụng</span>
					<i class="arrow mdi mdi-chevron-right"></i>
				</a>
			</li>
			<li class="collection-item">
				<a href="@Url.Action("Payment","Wallet")" class="waves-effect">
					<i class="mdi mdi-shopping "></i>
					<span>Ví điện tử</span>
					<i class="arrow mdi mdi-chevron-right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>