
<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Cùng trò chuyện</h5>
	</div>
</div>
<div class="container">
	<div class="section ui-dropdowns">


		<ul class="chat-area">


			<li class="user-avatar leftside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-20.jpg")" alt="Emmi Derill" title="Emmi Derill" class="circle userpic">
					<p class="msg">Cho mình hỏi bên bạn có bình gas du lịch cho bếp Dr. HOWS của Hàn Quốc không?.</p>

					<div class="spacer"></div>
					<div class="row ui-mediabox">
						<div class="col s6">
							<a class="img-wrap" href="@Url.Content("~/shop/images/chat-1.jpg")" data-fancybox="images" data-caption="Fashion at its best">
								<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/chat-1.jpg")">
							</a>
						</div>
						<div class="col s6">
							<a class="img-wrap" href="@Url.Content("~/shop/images/chat-2.jpg")" data-fancybox="images" data-caption="Latest style trends">
								<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/chat-2.jpg")">
							</a>
						</div>
					</div>

				</div>
				<span class="time">12:19 p.m. 26/08</span>
			</li>



			<li class="user-avatar rightside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-14.jpg")" alt="Royal Ransfield" title="Royal Ransfield" class="circle userpic">
					<p class="msg">Có bình ga của hãng khác thôi bạn ạ! Nhưng mọi người vẫn dùng bình thường.</p>


				</div>
				<span class="time">12:23 p.m. 26/08</span>
			</li>



			<li class="user-avatar leftside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-20.jpg")" alt="Emmi Derill" title="Emmi Derill" class="circle userpic">
					<p class="msg">Nhưng sao mình không thấy trong gian hàng bán nhỉ?</p>


				</div>
				<span class="time">12:26 p.m. 26/08</span>
			</li>



			<li class="user-avatar rightside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-14.jpg")" alt="Royal Ransfield" title="Royal Ransfield" class="circle userpic">
					<p class="msg">Có đường link trong phần mô tả sản phẩm đó bạn!</p>


				</div>
				<span class="time">12:23 p.m. 26/08</span>
			</li>



			<li class="user-avatar leftside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-20.jpg")" alt="Emmi Derill" title="Emmi Derill" class="circle userpic">
					<p class="msg">Mình thấy rồi, cám ơn bạn nhiều!</p>


				</div>
				<span class="time">12:37 p.m. 26/08</span>
			</li>



			<li class="user-avatar rightside">
				<div class="msg-area status available z-depth-1">
					<img src="@Url.Content("~/shop/images/user-14.jpg")" alt="Royal Ransfield" title="Royal Ransfield" class="circle userpic">
					<p class="msg">Có gì bạn cứ hỏi nhé! Chào bạn!</p>


				</div>
				<span class="time">12:39 p.m. 26/08</span>
			</li>

		</ul>

		<div class="chat-message-area">
			<div class="input-field col s12">
				<i class="mdi mdi-send prefix"></i>
				<textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
				<label for="textarea2">Nội dung tin nhắn ... </label>
			</div>
		</div>
	</div>
</div>
