<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Giỏ hàng</h5>
	</div>
</div>
<div class="container full">
	<div class="section">

		<ul class="collection invoice-item ">
			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-1.jpg")" alt="image" class="circle">
					<span class="title">Đĩa gỗ trang trí</span>
					<p>Màu: Nâu</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">420.000</h6>
				</div>

			</li>

			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-2.jpg")" alt="image" class="circle">
					<span class="title">Cốc cà phê sứ</span>
					<p>Màu: Đen, Size:5</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">76.000</h6>
				</div>

			</li>

			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-3.jpg")" alt="image" class="circle">
					<span class="title">Đèn học đồng</span>
					<p>Màu: Đồng</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">540.000</h6>
				</div>

			</li>

			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-5.jpg")" alt="image" class="circle">
					<span class="title">Hũ đựng trà</span>
					<p>Màu: Trắng</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">85.000</h6>
				</div>

			</li>

			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-6.jpg")" alt="image" class="circle">
					<span class="title">Túi xách da</span>
					<p>Màu: Hồng</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">1.390.000</h6>
				</div>

			</li>

			<li class="collection-item avatar">
				<div class="item-det">
					<img src="@Url.Content("~/shop/images/cart-11.jpg")" alt="image" class="circle">
					<span class="title">Ghế thư giãn</span>
					<p>Màu: Kem</p>
				</div>

				<div class="secondary-content">
					<h6 class="top-0 ">438.000</h6>
				</div>

			</li>
			<li class="collection-item non-avatar total">
				<div class="item-det">
					<h6 class="">Tổng số</h6>
				</div>
				<div class="secondary-content">
					<h5 class="top-0">2.938.000</h5>
				</div>
			</li>

		</ul>

		<div class="spacer"></div>
		<div class="center">
			<a href="@Url.Action("List", "Product")" class="waves-effect waves-light btn-large bg-primary ">Tiếp tục mua hàng</a> &nbsp;
			<a href="@Url.Action("Shipping", "Product")" class="waves-effect waves-light btn-large bg-primary ">Đặt hàng</a>
		</div>
	</div>
</div>


