<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Sản phẩm</h5>
	</div>
</div>
<div class="container">
	<div class="section">

		<div class="row ui-mediabox  prods prods-boxed equal-height ">
			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">
					<a class="img-wrap" href="@Url.Content("~/shop/images/product-1.jpg")" data-fancybox="images" data-caption="Women Shoes">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-1.jpg")">
					</a>
				</div>
				<div class="prod-info  boxed z-depth-1">
					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Bếp ga du lịch      </h5>
					</a>
					<span class="small brand">Dr. HOWS</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">1.890.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="size">
							<span>6</span>
							<span>7</span>
							<span>8</span>
							<span>9</span>
						</div>
						<div class="color">
							<span style="background-color:#f06292;">&nbsp;</span>
							<span style="background-color:#4db6ac;">&nbsp;</span>
							<span style="background-color:#aed581;">&nbsp;</span>
						</div>
					</div>

					<div class="spacer-line"></div>

					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>

					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-2.jpg")" data-fancybox="images" data-caption="Home Decor Balls">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-2.jpg")">
					</a>



				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Cốc sứ vẽ tay      </h5>
					</a>              <span class="small brand">Cherry</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">122.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="options"><span>5</span><span>7</span><span>9</span></div><div class="color">
							<span style="background-color:#aed581;">&nbsp;</span>
							<span style="background-color:#ff8a65;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span>
						</div>
					</div>

					<div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-3.jpg")" data-fancybox="images" data-caption="Women Sandals">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-3.jpg")">
					</a>

				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Muỗng gỗ con cá      </h5>
					</a>              <span class="small brand">Sakura</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">58.000</h5>
					<div class="spacer-line"></div>
					<div class="prod-options products">
						<div class="size"><span>6</span><span>7</span><span>8</span><span>9</span></div>
						<div class="color"><span style="background-color:#f06292;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span><span style="background-color:#ff8a65;">&nbsp;</span></div>
					</div>      <div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>
					<span class="addtowishlist btn-small">Yêu thích</span>
					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-4.jpg")" data-fancybox="images" data-caption="Modern Man Shoes">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-4.jpg")">
					</a>

				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Máy nướng bánh mỳ      </h5>
					</a>              <span class="small brand">Bear</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">532.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="size"><span>6</span><span>7</span><span>8</span><span>9</span></div><div class="color">
							<span style="background-color:#ff8a65;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span><span style="background-color:#aed581;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-5.jpg")" data-fancybox="images" data-caption="Wooden Chair">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-5.jpg")">
					</a>
				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Đĩa gốm thuỷ mạc      </h5>
					</a>              <span class="small brand">Ichiban</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">$126</h5>
					<div class="spacer-line"></div>
					<div class="prod-options products">
						<div class="size"><span>1</span><span> 2</span><span> 4</span></div><div class="color">
							<span style="background-color:#f06292;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span><span style="background-color:#ff8a65;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>

					<span class="addtocart btn-small">Cho vào giỏ</span>
					<span class="addtowishlist btn-small">Yêu thích</span>
					<div class="spacer-line"></div>
				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-6.jpg")" data-fancybox="images" data-caption="Canvas Shoes">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-6.jpg")">
					</a>

				</div>
				<div class="prod-info  boxed z-depth-1">
					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Bộ đồ ăn inox      </h5>
					</a>              <span class="small brand">Luna</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">138.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="size"><span>6</span><span>7</span><span>8</span><span>9</span></div><div class="color">
							<span style="background-color:#4db6ac;">&nbsp;</span><span style="background-color:#ff8a65;">&nbsp;</span><span style="background-color:#aed581;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-7.jpg")" data-fancybox="images" data-caption="Coffee Mug">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-7.jpg")">
					</a>
				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Cốc cà phê sành      </h5>
					</a>              <span class="small brand">Philly</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">75.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="options"><span>2</span><span> 5</span><span> 7</span></div><div class="color">
							<span style="background-color:#f06292;">&nbsp;</span><span style="background-color:#ff0ff0;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-8.jpg")" data-fancybox="images" data-caption="Copper Lamp">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-8.jpg")">
					</a>



				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Đèn học đồng      </h5>
					</a>              <span class="small brand">Crompt</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">525.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="options"><span>2</span><span> 5</span><span> 7</span></div><div class="color">
							<span style="background-color:#f06292;">&nbsp;</span><span style="background-color:#ff0ff0;">&nbsp;</span><span style="background-color:#4db6ac;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>


				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-9.jpg")" data-fancybox="images" data-caption="Crockery Set">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-9.jpg")">
					</a>

				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Hũ đựng trà      </h5>
					</a>              <span class="small brand">Ushaa</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">78.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products">
						<div class="color">
							<span style="background-color:#4db6ac;">&nbsp;</span><span style="background-color:#aed581;">&nbsp;</span>
							<span style="background-color:#ff8a65;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>

					<span class="addtocart btn-small">Cho vào giỏ</span>
					<span class="addtowishlist btn-small">Yêu thích</span>
					<div class="spacer-line"></div>
				</div>
			</div>

			<div class="col s6 " style="height: 885px;">
				<div class="prod-img-wrap">
					<a class="img-wrap" href="@Url.Content("~/shop/images/product-10.jpg")" data-fancybox="images" data-caption="Women Purse">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-10.jpg")">
					</a>
				</div>
				<div class="prod-info  boxed z-depth-1">
					<a href="@Url.Action("Detail","Product:)">
						<h5 class="title truncate">Túi xách da      </h5>
					</a>              <span class="small brand">Flamingo</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">$1.219.000</h5>
					<div class="spacer-line"></div>
					<div class="prod-options products">
						<div class="color">
							<span style="background-color:#f06292;">&nbsp;</span><span style="background-color:#aed581;">&nbsp;</span>
							<span style="background-color:#ff8a65;">&nbsp;</span>
						</div>
					</div>
					<div class="spacer-line"></div>

					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>
					<div class="spacer-line"></div>

				</div>
			</div>
		</div>

	</div>
</div>