
<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Thông tin sản phẩm</h5>
	</div>
</div>
<div class="container">
	<div class="section">

		<div class="row ">
			<div class="col s12 pad-0">
				<h5 class="bot-20 sec-tit  ">Bài viết gần đây</h5>

				<div class="row ui-mediabox blogs blogs-boxed   medium-left aligned  ">


					<div class="col-item col s12 ">


						<div class="blog-img-wrap">

							<a class="img-wrap" href="@Url.Content("~/shop/images/product-2.jpg")" data-fancybox="images" data-caption="Tuning proper development techniques" style="background-image: url(@Url.Content("~/shop/images/product-2.jpg"));">&nbsp;</a>

						</div>
						<div class="blog-info  boxed z-depth-1">

							<a href="@Url.Action("Item","Blog")">
								<h5 class="title ">Xu hướng Vintage trong nội trợ      </h5>
							</a>

							<span class="small date">13/09/2021</span>
							<p class="bot-0 text">Thời của đồ gia dụng với thiết kế hiện đại và tối giản đã qua đi một cách lặng lẽ để thay vào ...</p>



						</div>

					</div>



					<div class="col-item col s12 ">


						<div class="blog-img-wrap">

							<a class="img-wrap" href="@Url.Content("~/shop/images/blog-110.jpg")" data-fancybox="images" data-caption="Making the best of your time today" style="background-image: url(@Url.Content("~/shop/images/blog-110.jpg"));">&nbsp;</a>

						</div>
						<div class="blog-info  boxed z-depth-1">

							<a href="@Url.Action("Item","Blog")">
								<h5 class="title ">Bảo vệ da tay khi bạn phải làm việc nhà      </h5>
							</a>

							<span class="small date">09/09/2021</span>
							<p class="bot-0 text">Tay bạn thường xuyên phải ngâm nước và tiếp xúc với các loại chất tẩy rửa khi làm việc nhà ...</p>



						</div>

					</div>


					<div class="col-item col s12 ">


						<div class="blog-img-wrap">

							<a class="img-wrap" href="@Url.Content("~/shop/images/blog-104.jpg")" data-fancybox="images" data-caption="Make the best of your website campaign" style="background-image: url(@Url.Content("~/shop/images/blog-104.jpg"));">&nbsp;</a>

						</div>
						<div class="blog-info  boxed z-depth-1">

							<a href="@Url.Action("Item","Blog")">
								<h5 class="title ">Nội thất dành cho ngôi nhà có thú cưng      </h5>
							</a>

							<span class="small date">07/09/2021</span>
							<p class="bot-0 text">Chú mèo nghịch ngợm thường khoái chí với những món đồ thực sự "không phải của mình" ...</p>



						</div>

					</div>

					<div class="col-item col s12 ">


						<div class="blog-img-wrap">

							<a class="img-wrap" href="@Url.Content("~/shop/images/blog-116.jpg")" data-fancybox="images" data-caption="Keeping your activities on track" style="background-image: url(@Url.Content("~/shop/images/blog-116.jpg"));">&nbsp;</a>

						</div>
						<div class="blog-info  boxed z-depth-1">

							<a href="@Url.Action("Item","Blog")">
								<h5 class="title ">Những người bạn thầm lặng bên cạnh bạn      </h5>
							</a>

							<span class="small date">26/08/2021</span>
							<p class="bot-0 text">Bạn có bao giờ nghĩ xem vật dụng nào mình nhìn thấy nhiều nhất trong ngày hay luôn mang ...</p>



						</div>

					</div>

					<div class="col-item col s12 ">


						<div class="blog-img-wrap">

							<a class="img-wrap" href="@Url.Content("~/shop/images/blog-105.jpg")" data-fancybox="images" data-caption="Make the best of your creativity" style="background-image: url(@Url.Content("~/shop/images/blog-105.jpg"));">&nbsp;</a>

						</div>
						<div class="blog-info  boxed z-depth-1">

							<a href="@Url.Action("Item","Blog")">
								<h5 class="title ">Sáng tạo luôn không có biên giới      </h5>
							</a>

							<span class="small date">05/08/2021</span>
							<p class="bot-0 text">Trước khi định bỏ đi một món đồ lâu ngày nào đó, bạn hãy thử thay đổi diện mạo cho nó ...</p>



						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

</div>
