<div class="ui-profile">

	<div class="primg">
	</div>
	<div class="prinfo card-panel">
		<div class="prname">
			<h4 class="name">Tracy Nguyễn</h4>
			<div class="pos">Chuyên viên thiết kế</div>
			<p>Chăm chút cho ngôi nhà là điều mà mọi phụ nữ đều mong muốn. Hãy ủng hộ những sản phẩm gia dụng có chất lượng để mang lại hạnh phúc.</p>
		</div>
		<div class="center profile-btn">
			<a href="@Url.Action("Transactions","Wallet")" class="waves-effect waves-light btn">Lịch sử mua hàng</a>
		</div>
		<div class="count">
			<h6 class="num">3 tháng</h6>
			<div class="tit">Tham gia</div>
		</div>
		<div class="count">
			<h6 class="num">4 sản phẩm</h6>
			<div class="tit">Đã mua</div>
		</div>
		<div class="count">
			<h6 class="num">656.000</h6>
			<div class="tit">Tài khoản</div>
		</div>

	</div>
</div>

<div class="container">
	<div class="section">
		<div class="spacer"></div>

		<div class="row ui-mediabox portfolio portfolio-masonry ">
			<div class="col s6 grid-item">
				<a class="img-wrap round" href="@Url.Content("~/shop/images/product-3.jpg")" data-fancybox="images" data-caption="Super fabulous feel at work now">
					<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-3.jpg")">
				</a>
			</div>

			<div class="col s6 grid-item">
				<a class="img-wrap round" href="@Url.Content("~/shop/images/product-2.jpg")" data-fancybox="images" data-caption="You make your own looks stylish">
					<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-2.jpg")">
				</a>
			</div>

			<div class="col s6 grid-item">
				<a class="img-wrap round" href="@Url.Content("~/shop/images/product-1.jpg")" data-fancybox="images" data-caption="Create unreal combinations at your work">
					<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-1.jpg")">
				</a>
			</div>

			<div class="col s6 grid-item">
				<a class="img-wrap round" href="@Url.Content("~/shop/images/product-6.jpg")" data-fancybox="images" data-caption="Models posing to the latest trends">
					<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-6.jpg")">
				</a>
			</div>

		</div>
	</div>
</div>
